.bar-pic {
  max-width: 100%;
  max-width: 100%;
  transition: 2s;
}

.bar-pic:hover {
  max-width: 100%;
  max-width: 100%;
  filter: saturate(350%);
  transition: 2s;
  box-shadow: inset 50px 50px 70px 50px black;
  z-index: 5;
}

.bg-default-image {
  background-image: url(/images/bottles.jpg);
  background-size: 100%;
  height: 150px;
}

.logo {
  text-shadow: 2px 2px navy;
  font-size: 18px;
}

.active{
  background-color: rgba(45, 188, 224, 0);
}

.neon-text {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(0, 38, 255),
      0 0 80px rgb(0, 217, 255),
      0 0 90px rgb(4, 0, 255),
      0 0 100px rgb(0, 217, 255),
      0 0 150px rgb(0, 60, 255);
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}